.header {
  @include defaultFlex;
  height: 10%;
  position: relative;

  h1 {
    margin: 1rem;
  }

  input {
    width: 300px;
    border: none;
    border-radius: 50px;
    color: $color-black;
    padding: 1rem 2rem;
    margin: 0 1rem;
    font-family: $typo-1;

    &::placeholder {
      color: $color-2;
      font-family: $typo-1;
    }
  }

  button {
    @include defaultButton;
  }

  .search-card {
    z-index: 9999;
    background-color: $color-white;
    width: 500px;
    height: 100px;
    color: $color-black;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

    img {
      width: 60px;
      height: 60px;
      margin-right: 2rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0.5rem 0;

      @media (max-width: $breakpoint-tablet) {
        font-size: 1.4rem;
      }
    }

    @media (max-width: $breakpoint-tablet) {
      width: 300px;
    }
  }

  .search-card-0 {
    @include position(absolute, $top: 86px, $left: 180px);

    @media (max-width: $breakpoint-tablet) {
      @include position(absolute, $top: 175px, $left: 3rem);
    }
  }

  .search-card-1 {
    @include position(absolute, $top: 189px, $left: 180px);

    @media (max-width: $breakpoint-tablet) {
      @include position(absolute, $top: 278px, $left: 3rem);
    }
  }
  .search-card-2 {
    @include position(absolute, $top: 292px, $left: 180px);

    @media (max-width: $breakpoint-tablet) {
      @include position(absolute, $top: 381px, $left: 3rem);
    }
  }
  .search-card-3 {
    @include position(absolute, $top: 395px, $left: 180px);

    @media (max-width: $breakpoint-tablet) {
      @include position(absolute, $top: 484px, $left: 3rem);
    }
  }
  .search-card-4 {
    @include position(absolute, $top: 498px, $left: 180px);

    @media (max-width: $breakpoint-tablet) {
      @include position(absolute, $top: 587px, $left: 3rem);
    }
  }

  .search-card-button {
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 1rem;
    background-color: $color-1-1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: $typo-1;
    margin-left: auto;

    &:hover {
      background-color: $color-1-2;
      cursor: pointer;
    }
  }

  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    height: 15%;
  }

  @media (max-width: $breakpoint-tablet) {
    height: 35%;
    padding: 2rem;
  }
}
