@charset "utf-8";

// Colors
$color-black: #000;
$color-white: #fff;

$color-1-1: #1db954;
$color-1-2: #16873d;

$color-2: #191414;

// Breakpoints

$breakpoint-desktop: 1024x;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;

// Mixin and abstract classes
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin defaultButton {
  border: none;
  border-radius: 50px;
  padding: 1rem 2.5rem;
  margin: 1rem;
  background-color: $color-1-1;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $typo-1;

  &:hover {
    background-color: $color-1-2;
    cursor: pointer;
  }
}

.ml-auto {
  margin-left: auto !important;
  @media (max-width: $breakpoint-tablet) {
    margin-left: 1rem !important;
  }
}

.mr-auto {
  margin-right: auto !important;
}

// Typo
$typo-1: 'Ubuntu', sans-serif;

@import './base', './home', './header';
